
td, th{
    padding-left: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.sm-control{
    min-height: 25px;
    height: 25px;
}
.form-group{
    margin-bottom: 0;
    margin-top: 2px;

}
label{
    font-size: 13px !important;
}
.data-table{
    box-shadow: 0 0 0 0 !important;
    margin: 0 ;
}
.tr-border{
  border: 2px solid #ccc !important;
}
