<div class="card">
    <h4 class="card-header text-center bg-light">
        Asset Setup Information
    </h4>
    <div class="card-body">
        <div class="col-md-7 center">
            <form [formGroup]="assetAdditionform">
                <!--Category Name-->
                <div class="form-group row">
                    <label class="col-form-label col-sm-4 ">Category Name</label>
                    <div class="col-sm-6">
                        <ng-select [ngClass]="{'is-invalid': (isSubmitted || f['assetCatagoryId'].touched || f['assetCatagoryId'].dirty) && f['assetCatagoryId'].invalid}" [items]="categories" formControlName="assetCatagoryId" bindLabel="description" bindValue="id" (change)="GetAssetByCategory(f['assetCatagoryId'].value)"
                            placeholder="Category Name">
                        </ng-select>
                    </div>
                    <label class="col-form-label col-sm-4 "></label>
                    <div *ngIf="f['assetCatagoryId'].invalid && (isSubmitted || f['assetCatagoryId'].touched || f['assetCatagoryId'].dirty)" class="text-danger">
                        <i *ngIf="f['assetCatagoryId'].errors['required']">Category Name required</i>
                    </div>
                </div>
                <!--Assain Name-->
                <div class="form-group row">
                    <label class="col-formq-label col-sm-4 ">Assain Name</label>
                    <div class="col-sm-6">
                        <ng-select [ngClass]="{'is-invalid': (isSubmitted || f['assetID'].touched || f['assetID'].dirty) && f['assetID'].invalid}" [items]="assetname" formControlName="assetID" bindLabel="assetName" bindValue="id" placeholder="Category Name">
                        </ng-select>
                    </div>
                    <label class="col-form-label col-sm-4 "></label>
                    <div *ngIf="f['assetID'].invalid && (isSubmitted || f['assetID'].touched || f['assetID'].dirty)" class="text-danger">
                        <i *ngIf="f['assetID'].errors['required']">Assain Name required</i>
                    </div>
                </div>
                <!--Model-->
                <div class="form-group row">
                    <label class="col-form-label col-sm-4 ">Model</label>
                    <div class="col-sm-6">
                        <input [ngClass]="{'is-invalid': (isSubmitted || f['model'].touched || f['model'].dirty) && f['model'].invalid}" formControlName="model" name="model" type="text" class="form-control" placeholder="Model">
                    </div>
                    <label class="col-form-label col-sm-4 "></label>
                    <div *ngIf="f['model'].invalid && (isSubmitted || f['model'].touched || f['model'].dirty)" class="text-danger">
                        <i *ngIf="f['model'].errors['required']">Model required</i>
                    </div>
                </div>
                <!--Serial No-->
                <div class="form-group row">
                    <label class="col-form-label col-sm-4 ">Serial No</label>
                    <div class="col-sm-6">
                        <input [ngClass]="{'is-invalid': (isSubmitted || f['serial'].touched || f['serial'].dirty) && f['serial'].invalid}" formControlName="serial" name="serial" type="text" class="form-control" placeholder="Serial No">
                    </div>
                    <label class="col-form-label col-sm-4 "></label>
                    <div *ngIf="f['serial'].invalid && (isSubmitted || f['serial'].touched || f['serial'].dirty)" class="text-danger">
                        <i *ngIf="f['serial'].errors['required']">Assain Name required</i>
                    </div>
                </div>
                <!--Purchase Price-->
                <div class="form-group row">
                    <label class="col-form-label col-sm-4 ">Purchase Price</label>
                    <div class="col-sm-6">
                        <input [ngClass]="{'is-invalid': (isSubmitted || f['purchesPrice'].touched || f['purchesPrice'].dirty) && f['purchesPrice'].invalid}" formControlName="purchesPrice" name="purchesPrice" type="number" class="form-control" placeholder="Purchase Price">
                    </div>
                    <label class="col-form-label col-sm-4 "></label>
                    <div *ngIf="f['purchesPrice'].invalid && (isSubmitted || f['purchesPrice'].touched || f['purchesPrice'].dirty)" class="text-danger">
                        <i *ngIf="f['purchesPrice'].errors['required']">Purchase Price required</i>
                    </div>
                </div>
                <!--Configuration-->
                <div class="form-group row">
                    <label class="col-form-label col-sm-4 ">Configuration</label>
                    <div class="col-sm-6">
                        <input [ngClass]="{'is-invalid': (isSubmitted || f['confiruration'].touched || f['confiruration'].dirty) && f['confiruration'].invalid}" formControlName="confiruration" name="confiruration" type="text" class="form-control" placeholder="Configuration">
                    </div>
                    <label class="col-form-label col-sm-4 "></label>
                    <div *ngIf="f['confiruration'].invalid && (isSubmitted || f['confiruration'].touched || f['confiruration'].dirty)" class="text-danger">
                        <i *ngIf="f['confiruration'].errors['required']">Configuration required</i>
                    </div>
                </div>
                <!--Warranty Type-->
                <div class="form-group row">
                    <label class="col-form-label col-sm-4 ">Warranty Type</label>
                    <div class="col-sm-6">
                        <select formControlName="warrentyType" name="warrentyType" class="form-control" placeholder="Select Type">
              <option value="0">--Select--</option>
              <option value="Yes">Yes</option>
              <!-- <option value="No">No</option> -->
            </select>
                    </div>
                </div>
                <!--Purchase Date-->
                <div class="form-group row">
                    <label class="col-form-label col-sm-4 ">Purchase Date</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input readonly formControlName="purchesDateNg" name="purchesDateNg" class="form-control" placeholder="dd-mm-yyyy" ngbDatepicker #d1="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="input-group-text" (click)="d1.toggle()" type="button">
                  <span class="ion ion-md-calendar" style="cursor: pointer;"></span>
                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Warranty Expire Date-->
                <div class="form-group row">
                    <label class="col-form-label col-sm-4 ">Warranty Expire Date</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input [ngClass]="{'is-invalid': (isSubmitted || f['warrentyDateNg'].touched || f['warrentyDateNg'].dirty) && f['warrentyDateNg'].invalid}" readonly class="form-control" formControlName="warrentyDateNg" name="warrentyDateNg" placeholder="dd-mm-yyyy" ngbDatepicker
                                #d2="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="input-group-text" (click)="d2.toggle()" type="button">
                                <span class="ion ion-md-calendar" style="cursor: pointer;"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <label class="col-form-label col-sm-4 "></label>
                    <div *ngIf="f['warrentyDateNg'].invalid && (isSubmitted || f['warrentyDateNg'].touched || f['warrentyDateNg'].dirty)" class="text-danger">
                        <i *ngIf="f['warrentyDateNg'].errors['required']">Warrenty Date required</i>
                    </div>
                </div>
                <!--Note-->
                <div class="form-group row">
                    <label class="col-form-label col-sm-4 ">Note</label>
                    <div class="col-sm-6">
                        <textarea formControlName="note" name="note" class="form-control" placeholder="Note"></textarea>
                    </div>
                </div>
                <!--Button-->
                <div class="form-group row">
                    <div class="demo-inline-spacing mt-3  center">
                        <button (click)="Reset()" type="clear" class="btn btn-info">
                        <span class="ion ion-ios-refresh"></span> Reset</button>
                        <button (click)="onSubmit()" type="clear" class="btn btn-success"> {{btnStatus}}</button>

                    </div>
                </div>
            </form>
        </div>
        <!-- Table-->
        <div class="row">
            <div class="col">
                <input type="text" [(ngModel)]="filterVal" (input)="currentPage = 1; update()" class="form-control form-control-md d-inline-block w-auto float-sm-right" placeholder="Search...">
            </div>
        </div>
        <div class="row">
            <div class="data-table">
                <table class="table table-hover table-bordered table-striped mb-0">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Model</th>
                            <th>Serial</th>
                            <th>Configuration</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let prop of tempItems;let i = index">
                            <td>{{prop.id}}</td>
                            <td>{{prop.model}}</td>
                            <td>{{prop.serial}}</td>
                            <td>{{prop.confiruration}}</td>
                            <td><button (click)="GetAssetById(prop.id)" type="" class="btn btn-info btn-sm">
            <span class="fas fa-edit"></span></button>&nbsp;
                                <button (click)="AssetDelete(prop.id,deleteModal)" type="" class="btn btn-danger btn-sm">
            <span class="fas fa-trash"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<ng-template #deleteModal>
    <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
    </div>
    <div class="modal-body">
        <p>Are you sure want to delete?</p>
    </div>
    <div class="modal-footer">
        <button (click)="Cancel()" class="btn btn-secondary">Cancel</button>
        <button (click)="Confirm()" class="btn btn-danger">Confirm</button>
    </div>
</ng-template>
