<div class="card">
  <div class="card-header bg-light">
    <h4 class="text-center">Application Modules</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-5">
        <form [formGroup]="moduleForm">
          <div class="form-group row">
            <label for="name" class="col-md-3">Name</label>
            <div class="col-md-9">
              <input 
              formControlName="name" 
              [ngClass]="{'is-invalid':(frmControl['name'].touched || frmControl['name'].dirty || isSubmitted) && frmControl['name'].invalid}"
              type="text" class="form-control" placeholder="Module Name">
              <div *ngIf="(frmControl['name'].touched || frmControl['name'].dirty || isSubmitted) && frmControl['name'].invalid" class="text-danger">
                <i *ngIf="frmControl['name'].errors.required">Name is required</i>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="moduleRoutePath" class="col-md-3">Route Path</label>
            <div class="col-md-9">
              <input 
              formControlName="moduleRoutePath" 
              [ngClass]="{'is-invalid':(frmControl['moduleRoutePath'].touched || frmControl['moduleRoutePath'].dirty || isSubmitted) && frmControl['moduleRoutePath'].invalid}"
              type="text" class="form-control" placeholder="Module Route Url/Path">
              <div *ngIf="(frmControl['moduleRoutePath'].touched || frmControl['moduleRoutePath'].dirty || isSubmitted) && frmControl['moduleRoutePath'].invalid" class="text-danger">
                <i *ngIf="frmControl['moduleRoutePath'].errors.required">Route Path is required</i>
              </div>
            </div>
          </div>
          <div class="row">
            <label for="" class="col-md-3"></label>
            <div class="col-md-9 demo-inline-spacing">
              <button (click)="reset()" class="btn btn-secondary pull-right">Reset</button>
              <button (click)="onSubmit()" class="btn btn-success pull-right">{{btnStatus}}</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-7">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Module Name</th>
              <th>Route Path</th>
              <th>Total Page</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mod of modules; let i=index">
              <td>{{mod.id}}</td>
              <td>{{mod.name}}</td>
              <td>{{mod.moduleRoutePath}}</td>
              <td>{{mod.pages?.length}}</td>
              <td>
                <button (click)="edit(mod.id)" class="btn btn-info"><span class="fa fa-edit"></span></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>