.form-group {
    margin-bottom: 0.2rem;
}

.data-table {
    box-shadow: 0 0 0 0 !important;
    margin: 0;
}

td,
th {
    padding: 1px;
    padding-left: 10px;
}

.card .card .card-body {
    padding: 0px !important;
}
