<div class="card">
    <h4 class="card-header bg-light text-center">Change Password</h4>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 center">
                <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                    <div class="form-group row">
                        <label for="loginId" class="col-md-4 form-label-lg">Login ID <span class="text-danger"> *</span></label>
                        <div class="col-md-7">
                            <input formControlName="loginId" [ngClass]="{'is-invalid': (formControl['loginId'].touched || formControl['loginId'].dirty) && formControl['loginId'].invalid}" type="text" class="form-control text-big" placeholder="Enter user name/loginID">
                            <div *ngIf="(formControl['loginId'].touched || formControl['loginId'].dirty) && formControl['loginId'].invalid" class="text-danger">
                                <i *ngIf="formControl['loginId'].errors.required">Login ID is required</i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="oldPassword" class="col-md-4 form-label-lg">Old Password <span class="text-danger"> *</span></label>
                        <div class="col-md-7">
                            <input formControlName="oldPassword" placeholder="Old Password" [ngClass]="{'is-invalid': (formControl['oldPassword'].touched || formControl['oldPassword'].dirty) && formControl['oldPassword'].invalid}" type="password" class="form-control font-weight-bold text-big"
                                placeholder="">
                            <div *ngIf="(formControl['oldPassword'].touched || formControl['oldPassword'].dirty) && formControl['oldPassword'].invalid" class="text-danger">
                                <i *ngIf="formControl['oldPassword'].errors.required">Old Password is required</i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="newPassword" class="col-md-4 form-label-lg">New Password <span class="text-danger"> *</span></label>
                        <div class="col-md-7">
                            <input formControlName="newPassword" placeholder="New Password" [ngClass]="{'is-invalid': (formControl['newPassword'].touched || formControl['newPassword'].dirty) && formControl['newPassword'].invalid}" type="password" class="form-control font-weight-bold text-big"
                                placeholder="">
                            <div *ngIf="(formControl['newPassword'].touched || formControl['newPassword'].dirty) && formControl['newPassword'].invalid" class="text-danger">
                                <i *ngIf="formControl['newPassword'].errors.required">New Password is required</i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="confirmPassword" class="col-md-4 form-label-lg">Confirm Password
              <span class="text-danger">*</span></label>
                        <div class="col-md-7">
                            <input formControlName="confirmPassword" [ngClass]="{'is-invalid': (formControl['confirmPassword'].touched || formControl['confirmPassword'].dirty) && formControl['confirmPassword'].invalid}" type="password" class="form-control font-weight-bold text-big"
                                placeholder="">
                            <div *ngIf="(formControl['confirmPassword'].touched || formControl['confirmPassword'].dirty) && formControl['confirmPassword'].invalid" class="text-danger">
                                <i *ngIf="formControl['confirmPassword'].errors.required">Confirm Password is required <br></i>
                                <i *ngIf="!formControl['confirmPassword'].errors.matched">Confirm Password is not match with new Password</i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="demo-inline-spacing" style="margin-left: 60%;">
                            <button type="reset" class="btn btn-info"><span class="ion ion-ios-refresh"></span>Reset</button>
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
