<div class="card">
    <h4 class="card-header text-center bg-light">
        {{title}}
    </h4>
    <div class="card-body col-md-9" style="margin: 0 auto">
        <form [formGroup]="machineForm">
            <div class="form-group row">
                <label class="col-form-label col-sm-3 " for="productionUnit">Production Unit</label>
                <div class="col-sm-6">
                    <app-basic-entry-select-list [itemId]="f['productionUniteID'].value" [isPlusIconHide]="true" (onChange)="getFloreListByProUnitID($event.id)" [tableName]="'ProductionUnite'"></app-basic-entry-select-list>
                    <div *ngIf="f['productionUniteID'].invalid && (isSubmitted || f['productionUniteID'].touched || f['productionUniteID'].dirty)" class="text-danger">
                        <i *ngIf="f['productionUniteID'].errors.required">Please Select Production Unit</i>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-3 " for="productionFloor">Production Floor</label>
                <div class="col-sm-6">
                    <app-basic-entry-select-list [allItem]="floreItem" [isPlusIconHide]="true" [isItemLoad]="false" [tableName]="'ProductionFlore'" (onChange)="getProductionLineList($event.id)" [itemId]="f['floreID'].value"></app-basic-entry-select-list>
                    <div *ngIf="f['floreID'].invalid && (isSubmitted || f['floreID'].touched || f['floreID'].dirty)" class="text-danger">
                        <i *ngIf="f['floreID'].errors.required">Please Select Production Flore</i>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-3 " for="productionLine">Production Line</label>
                <div class="col-sm-6">
                    <app-basic-entry-select-list [allItem]="ProductionLineItem" [isPlusIconHide]="true" [isItemLoad]="false" [tableName]="'ProductionLine'" (onChange)="getProductionMachineList($event.id)" [itemId]="f['lineID'].value"></app-basic-entry-select-list>
                    <div *ngIf="f['lineID'].invalid && (isSubmitted || f['lineID'].touched || f['lineID'].dirty)" class="text-danger">
                        <i *ngIf="f['lineID'].errors.required">Please Select Production Line</i>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-3 " for="productionMachine">Production Machine</label>
                <div class="col-sm-6">
                    <input formControlName="description" type="text" name="productionMachine" id="productionMachine" class="form-control" placeholder="Production Machine">
                    <div *ngIf="f['description'].invalid && (isSubmitted || f['description'].touched || f['description'].dirty)" class="text-danger">
                        <i *ngIf="f['description'].errors.required">Please input productionMachine</i>
                    </div>
                </div>
            </div>

        </form>
        <div class="row">
            <label for="" class="col-form-label col-sm-2 "></label>
            <div class="demo-inline-spacing mt-3 center">
                <button (click)="Reset()" class="btn btn-info"><span class="ion ion-ios-refresh"></span> Reset</button>
                <button (click)="onSubmit()" class="btn btn-success">{{btnStatus}}</button>
            </div>
        </div>
        <div class="row">
            <div class="data-table">
                <table class="table table-hover table-bordered table-striped mb-0">
                    <thead>
                        <tr>

                            <th>Production Machine</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="tempItems.length==0">
                            <td colspan="3" class="font-italic text-center">No Item available</td>
                        </tr>
                        <tr (click)="getByIdProductionMachine(item.id)" *ngFor="let item of tempItems">
                            <td>{{item.description}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
