tbody {
    display: block;
    height: 500px;
    overflow: auto;
    width: 800px;
}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    /* even columns width , fix width of table too*/
}

thead {
    width: calc( 100% - 1em)/* scrollbar is average 1em/16px width, remove it from thead width */
}

.card {
    min-height: 300px!important;
}