<div class="card">
    <h4 class="card-header text-center bg-light">
        {{title}}
    </h4>
    <div class="card-body">
        <form [formGroup]="weeKendSetupForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="empId" class="col-md-4">Employee Id</label>
                        <div class="input-group col-md-8">

                            <app-employee-select-list [fixedWidth]="'150px'" [setEmpCode]="f['empCode'].value" (onChange)="getEmpCode($event.empCode)"></app-employee-select-list>
                            <div *ngIf="f['empCode'].invalid && (isSubmitted || f['empCode'].touched || f['empCode'].dirty)" class="text-danger">
                                <i *ngIf="f['empCode'].errors.required">Insert EmpCode </i>
                            </div>
                        </div>
                    </div>
                    <div class=" form-group row">
                        <label class="col-form-label col-md-4" for="department">Department</label>
                        <div class="col-md-8">
                            <app-basic-entry-select-list [ngClass]="{'is-invalid': (isSubmitted || f['departmentID'].touched || f['departmentID'].dirty) && f['departmentID'].invalid}" [itemId]="f['departmentID'].value" (onChange)="f['departmentID'].patchValue($event.id)" [allItem]="departmentItem"
                                [tableName]="'Department'" [isPlusIconHide]="true">
                            </app-basic-entry-select-list>
                        </div>
                    </div>
                    <div class=" form-group row">
                        <label class="col-form-label col-md-4" for="designation">Designation</label>
                        <div class="col-md-8">
                            <app-basic-entry-select-list [ngClass]="{'is-invalid': (isSubmitted || f['designationID'].touched || f['designationID'].dirty) && f['designationID'].invalid}" [itemId]="f['designationID'].value" (onChange)="f['designationID'].patchValue($event.id)" [allItem]="departmentItem"
                                [tableName]="'Designation'" [isPlusIconHide]="true">
                            </app-basic-entry-select-list>
                        </div>
                    </div>
                    <div class=" form-group row">
                        <label class="col-form-label col-md-4" for="branch">Office Branch</label>
                        <div class="col-md-8">
                            <app-basic-entry-select-list [ngClass]="{'is-invalid': (isSubmitted || f['branchID'].touched || f['branchID'].dirty) && f['branchID'].invalid}" [itemId]="f['branchID'].value" (onChange)="f['branchID'].patchValue($event.id)" [allItem]="branchItem" [tableName]="'Branch'"
                                [isPlusIconHide]="true">
                            </app-basic-entry-select-list>
                        </div>
                    </div>
                    <div class=" form-group row">
                        <label class="col-form-label col-md-4" for="location">Location</label>
                        <div class="col-md-8">
                            <app-basic-entry-select-list [ngClass]="{'is-invalid': (isSubmitted || f['locationID'].touched || f['locationID'].dirty) && f['locationID'].invalid}" [itemId]="f['locationID'].value" (onChange)="f['locationID'].patchValue($event.id)" [allItem]="locationItem"
                                [tableName]="'Location'" [isPlusIconHide]="true">
                            </app-basic-entry-select-list>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class=" form-group row">
                        <label class="col-form-label col-md-4 text-sm-left" for="days">Days</label>
                        <div class="col-md-8">
                            <ng-select formControlName="day" name="days" id="days" [items]="[
                            { dayeName:'Saturday', day:'Saturday'},
                            { dayeName:'Sunday', day:'Sunday'},
                            { dayeName:'Monday', day:'Monday'},
                            { dayeName:'Tuesday', day:'Tuesday'},
                            { dayeName:'Wednesday', day:'Wednesday'},
                            { dayeName:'Thursday', day:'Thursday'},
                            { dayeName:'Friday', day:'Friday'}
                            ]" bindLabel="day" bindValue="day" placeholder="Select a day">
                            </ng-select>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="ml-auto mr-3">
                            <button (click)="Reset()" class="btn btn-info"> <span class="ion ion-ios-refresh"></span></button>
                            <button (click)="getAllWeekEndList()" class="btn btn-primary">Get Employee(s)</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="card">
            <div class="card-body p-0">
                <table class="table table-hover table-striped table-bordered text-center mb-0">
                    <thead>
                        <tr>
                            <th>#SN</th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Department</th>
                            <th>Designation</th>
                            <th>Weekend</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="weekEndFormList.controls.length==0; let i =index">
                            <td colspan="13" class="font-italic text-center">No item available</td>
                        </tr>
                        <tr *ngFor="let weekEndList of weekEndFormList.controls; let i=index" [formGroup]="weekEndList">

                            <td>{{i+1}}</td>
                            <td>{{weekEndList.value.empCode}}</td>
                            <td>{{weekEndList.value.empName}}</td>
                            <td>{{weekEndList.value.department}}</td>
                            <td>{{weekEndList.value.designation}}</td>
                            <td><input formControlName="weekEndDay" type="text" class="form-control" /></td>
                            <td><button (click)="deleteFromList(i)" class="btn btn-sm btn-danger">X</button></td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="card-footer row">
                <div class="mr-auto">
                    <p>Total Employee(s): {{weekEndFormList.controls.length}}</p>
                </div>
                <div class="center">
                    <button (click)="Reset()" class="btn btn-info"><span class="ion ion-ios-refresh"></span>Reset</button>
                    <button (click)="saveWeekEndSetup()" class="btn btn-primary">Save</button>
                </div>
                <div class="form-group row m-auto">
                </div>
            </div>

            <a href="C:\New folder\ttttttt.pdf" class="btn btn-default" target="_blank" download="ttttttt.pdf"
              >Download Now</a>
        </div>
    </div>
</div>
