.form-group {
    margin-bottom: 0.2rem;
}

.data-table {
    box-shadow: 0 0 0 0 !important;
    margin: 0;
}

td,
th {
    padding-left: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
}

td {
    padding: 1px;
    padding-left: 10px;
}
.tr-border{
  border: 2px solid #ccc !important;
}
