.leaveColor{
  background-color:#990073;
}

.holidayColor{
  background-color: #4d4dff;
}

.empltyColor{
  background-color:white;
}

.earlyColor{
  background-color:#ff9900;
}
.lateColor{
  background-color:#cc0052;
}


.atten-text-center{
  padding: 2px;font-size: 15px;width: 4%;text-align: center;
}
