<div class="card section">
  <h4 class="card-header text-center bg-light">
    Employee Promotion Information
  </h4>
  <form [formGroup]="empPromotion">
    <div class="container">
      <div class="row ">
        <div class="col-sm-6">
          <br />
          <div class="form-group row">
            <label class="col-form-label col-sm-4 "> Employee Id
              <i class="text-danger">*</i>
            </label>

            <div class="input-group col-sm-8">
              <app-employee-select-list
                [isRequired]="f['empCode'].invalid && (isSubmitted || f['empCode'].touched || f['empCode'].dirty)"
                (onChange)="getEmploymentSalary($event.empCode);getEmpInfo($event.empCode);getProInfoView($event.empCode)"
                [setEmpCode]="formVal.empCode">
              </app-employee-select-list>
              <div *ngIf="f['empCode'].invalid && (isSubmitted || f['empCode'].touched || f['empCode'].dirty)"
                class="text-danger">
                <i *ngIf="f['empCode'].errors['required']">Employee Code is required</i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <br />
          <div class="form-group row">
            <label class="col-form-label col-sm-4 ">Employee Name
            </label>
            <div class="col-sm-8">
              <input readonly formControlName="empName" [value]="empName" type="text" class="form-control"
                placeholder="Employee Name">
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="container ">
      <br />
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <h6>Before Transfer</h6>
        </div>
        <div class="col-md-4">
          <h6>After Transfer</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <label class="col-form-label">Designation
          </label>
        </div>
        <div class="col-md-5">
          <div class="row">
            <label for="" class="col-form-label col-md-3 ">From
              <i class="text-danger">*</i>
            </label>
            <div class="col-md-9">
              <app-basic-entry-select-list
                [isRequired]="f['pasDesignationID'].invalid && (isSubmitted || f['pasDesignationID'].touched || f['pasDesignationID'].dirty)"
                [itemId]="formVal.pasDesignationID" (onChange)="f['pasDesignationID'].setValue($event.id)"
                [tableName]="'Designation'" [modalName]="desigModal"></app-basic-entry-select-list>
              <ng-template #desigModal>
                <app-designation (getItems)="allDesignation">
                </app-designation>
              </ng-template>
              <div
                *ngIf="f['pasDesignationID'].invalid && (isSubmitted || f['pasDesignationID'].touched || f['pasDesignationID'].dirty)"
                class="text-danger">
                <i *ngIf="f['pasDesignationID'].errors['required']">PasDesignation is required</i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="row">
            <label for="" class="col-form-label col-md-3 ">To
              <i class="text-danger">*</i>
            </label>
            <div class="col-md-9">
              <app-basic-entry-select-list
                [isRequired]="f['preDesignationID'].invalid && (isSubmitted || f['preDesignationID'].touched || f['preDesignationID'].dirty)"
                [itemId]="formVal.preDesignationID" (onChange)="f['preDesignationID'].setValue($event.id)"
                [tableName]="'Designation'" [modalName]="desigModal"></app-basic-entry-select-list>
              <ng-template #desigModal>
                <app-designation (getItems)="allDesignation">
                </app-designation>
              </ng-template>
              <div
                *ngIf="f['preDesignationID'].invalid && (isSubmitted || f['preDesignationID'].touched || f['pasDesignationID'].dirty)"
                class="text-danger">
                <i *ngIf="f['preDesignationID'].errors['required']">PasDesignation is required</i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <label class="col-form-label">Employee Type
          </label>
        </div>
        <div class="col-md-5">
          <div class="row">
            <label for="" class="col-form-label col-md-3 ">From
              <i class="text-danger">*</i>
            </label>
            <div class="col-md-9">
              <ng-select
                [ngClass]="{'is-invalid':(isSubmitted || f['pasGrade'].touched || f['pasGrade'].dirty)&& f['pasGrade'].invalid}"
                [items]="allEmployeeType" bindLabel="gradeName" bindValue="gradeID" formControlName="pasGrade"
                placeholder="Past Employee Type">
              </ng-select>
              <div *ngIf="f['pasGrade'].invalid && (isSubmitted || f['pasGrade'].touched || f['pasGrade'].dirty)"
                class="text-danger">
                <i *ngIf="f['pasGrade'].errors['required']">Past Grade Required</i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="row">
            <label for="" class="col-form-label col-md-3 ">To
              <i class="text-danger">*</i>
            </label>
            <div class="col-md-9">
              <ng-select
                [ngClass]="{'is-invalid':(isSubmitted || f['preGrade'].touched || f['preGrade'].dirty)&& f['preGrade'].invalid}"
                [items]="allEmployeeType" bindLabel="gradeName" bindValue="gradeID" formControlName="preGrade"
                placeholder="Present Employee Type">
              </ng-select>
              <div *ngIf="f['preGrade'].invalid && (isSubmitted || f['preGrade'].touched || f['preGrade'].dirty)"
                class="text-danger">
                <i *ngIf="f['preGrade'].errors['required']">Present Grade Required</i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <label class="col-form-label">Salary Grade
          </label>
        </div>
        <div class="col-md-5">
          <div class="row">
            <label for="" class="col-form-label col-md-3 ">From

            </label>
            <div class="col-md-9">
              <ng-select
                [ngClass]="{'is-invalid':(isSubmitted || f['pasPayscaleGrade'].touched || f['pasPayscaleGrade'].dirty)&& f['pasPayscaleGrade'].invalid}"
                [items]="allSalaryGrade" bindLabel="payScale" bindValue="id" formControlName="pasPayscaleGrade"
                placeholder="Past Salary Grade">
              </ng-select>
              <div
                *ngIf="f['pasPayscaleGrade'].invalid && (isSubmitted || f['pasPayscaleGrade'].touched || f['pasPayscaleGrade'].dirty)"
                class="text-danger">
                <i *ngIf="f['pasPayscaleGrade'].errors['required']">Past Salary Required</i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="row">
            <label for="" class="col-form-label col-md-3 ">To
            </label>
            <div class="col-md-9">
              <ng-select
                [ngClass]="{'is-invalid':(isSubmitted || f['prePayscaleGrade'].touched || f['prePayscaleGrade'].dirty)&& f['prePayscaleGrade'].invalid}"
                [items]="allSalaryGrade" bindLabel="payScale" bindValue="id" formControlName="prePayscaleGrade"
                placeholder="Present Salary Grade">
              </ng-select>
              <div
                *ngIf="f['prePayscaleGrade'].invalid && (isSubmitted || f['prePayscaleGrade'].touched || f['prePayscaleGrade'].dirty)"
                class="text-danger">
                <i *ngIf="f['prePayscaleGrade'].errors['required']">Present Salary Required</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label col-sm-4 ">Promotion Date
              <i class="text-danger">*</i>
            </label>

            <div class="input-group col-sm-8">
              <input
                [ngClass]="{'is-invalid':(isSubmitted || f['transferDateNgb'].touched || f['transferDateNgb'].dirty)&& f['transferDateNgb'].invalid}"
                readonly formControlName="transferDateNgb" class="form-control" name="dp1" placeholder="dd-mm-yyyy"
                ngbDatepicker #d1="ngbDatepicker">
              <div class="input-group-append">
                <button class="input-group-text" (click)="d1.toggle()" type="button">
                  <span class="ion ion-md-calendar" style="cursor: pointer;"></span>
                </button>
              </div>
            </div>
            <label class="col-form-label col-sm-4 ">
            </label>
            <div
              *ngIf="f['transferDateNgb'].invalid && (isSubmitted || f['transferDateNgb'].touched || f['transferDateNgb'].dirty)"
              class="text-danger">
              <i *ngIf="f['transferDateNgb'].errors['required']">Present Salary Required</i>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4 ">Job Responsibilities
            </label>
            <div class="col-sm-8">
              <input formControlName="jobresponsibilities" type="text" class="form-control"
                placeholder="Job Responsibilities">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label col-sm-4 ">Note
            </label>
            <div class="col-sm-8">
              <input formControlName="note" type="text" class="form-control" placeholder="Note">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4 ">Type
              <i class="text-danger">*</i>
            </label>
            <div class="col-sm-8">
            <ng-select formControlName="tpType" [items]="transferList" bindLabel="description" bindValue="id"
            [ngClass]="{'is-invalid':(isSubmitted || f['tpType'].touched || f['tpType'].dirty)&& f['tpType'].invalid}"
            (change)="onSelectType($event);getProInfoViewByType($event.id)" placeholder="Select Type" ></ng-select>
            </div>
            <div
            *ngIf="f['tpType'].invalid && (isSubmitted || f['tpType'].touched || f['tpType'].dirty)"
            class="text-danger">
            <i *ngIf="f['tpType'].errors['required']">Type is Required</i>
          </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="demo-inline-spacing mt-3 " style="margin:0 auto">
          <button (click)="reset()" type="clear" class="btn btn-info">
            <span class="ion ion-ios-refresh"></span> Reset
          </button>
          <button [ladda]="isUpdating" (click)="savePromotionInfo()" type="" class="btn btn-success"> Promotion
          </button>
        </div>
      </div>

      <div class="row" style="overflow:scroll;max-height: 200px;">

        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Serial</th>
              <th>From Designation</th>
              <th>To Designation</th>
              <th>From Grade </th>
              <th>To Grade</th>
              <th>Date</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of alldata; let i=index">
              <td>{{i+1}}</td>
              <td>{{item.pasDesignation}}</td>
              <td>{{item.preDesignation}}</td>
              <td>{{item.pasPreGrade}}</td>
              <td>{{item.preGrade}}</td>
              <td>{{item.transferDate | date:'dd MMM yyyy'}}</td>
              <td>{{item.tpTypeDes}}</td>
              <td>
                <button (click)="getByIdPromotion(item.id)" class="btn btn-sm btn-primary">
            <span class="fas fa-edit"></span>
            </button>
            </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </form>
</div>
