<div class="card">
    <h4 class="card-header text-center bg-light">
        {{title}}
    </h4>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 pt-5">
                <form [formGroup]="divisionForm">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3 " for="division">Division</label>
                        <i class="text-danger">*</i>
                        <div class="col-sm-6">
                            <input formControlName="divisionName" type="text" name="division" id="division" class="form-control" placeholder="Division">
                            <div *ngIf="f['divisionName'].invalid && (isSubmitted || f['divisionName'].touched || f['divisionName'].dirty)" class="text-danger">
                                <i *ngIf="f['divisionName'].errors.required">Division Name is required</i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3 " for="code">Code</label>
                        <i class="text-danger">*</i>
                        <div class="col-sm-6">
                            <input formControlName="code" type="text" name="code" id="code" class="form-control" placeholder="Code">
                            <div *ngIf="f['code'].invalid && (isSubmitted || f['code'].touched || f['code'].dirty)" class="text-danger">
                                <i *ngIf="f['code'].errors.required">Code Name is required</i>
                            </div>
                        </div>
                    </div>

                </form>
                <div class="row">
                    <label for="" class="col-form-label col-sm-2 "></label>
                    <div class="demo-inline-spacing mt-3 center">
                        <button (click)="Reset()" class="btn btn-info"><span class="ion ion-ios-refresh"></span> Reset</button>
                        <button (click)="onSubmit()" class="btn btn-success">{{btnStatus}}</button>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row p-0 m-0">
                    <div class="col-md-4 ml-auto">
                        <input (keyup)="onFilter($event)" class="form-control" placeholder="Search by branch name">
                    </div>
                </div>
                <div class="row">
                    <div class="data-table">
                        <table class="table table-hover table-bordered table-striped mb-0">
                            <thead>
                                <tr>
                                    <th width="70%">Description</th>
                                    <th width="30%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="filteredItem.length==0">
                                    <td colspan="3" class="font-italic text-center">No Item available</td>
                                </tr>
                                <tr *ngFor="let item of filteredItem">
                                    <!-- <td>{{item.code}}</td> -->
                                    <td width="70%">{{item.divisionName}}</td>
                                    <td width="30%" class="demo-inline-spacing">
                                        <button (click)="getById(item.id)" class="btn btn-info py-1 px-2 rounded-0"><span
              class="fas fa-edit"></span></button>
                                        <button (click)="deleteDivision(item.id,deleteModal)" class="btn btn-danger py-1 px-2"><span class="fas fa-trash-alt"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<ng-template #deleteModal>
    <app-delete-confirmation [rowId]="selectedItemId" (onConfirmedId)="confirmDelete($event)"></app-delete-confirmation>
</ng-template>
