.modal-width{
    width: 800px;
}
td{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}
tbody tr:hover{
  background: rgb(212, 244, 252);
  font-weight: 510;
  font-style: "Comic Sans MS", cursive, sans-serif;
  cursor: pointer;
}
