<div class="card">
  <h4 class="card-header text-center bg-light">{{title}}</h4>
  <div class="card-body">
    <form [formGroup]="tourApproveForm">
      <div class="row">
        <div class="col-md-6 center">
          <div class="form-group row">
            <label for="empId" class="col-md-4">Forward to Id</label>
            <div class="input-group col-md-8">
              <app-employee-select-list
                [isRequired]="f['empCode'].invalid && (isSubmitted || f['empCode'].touched || f['empCode'].dirty)"
                (onChange)="getEmpInfo($event.empCode)" [setEmpCode]="formVal.empCode">
              </app-employee-select-list>
              <div *ngIf="f['empCode'].invalid && (isSubmitted || f['empCode'].touched || f['empCode'].dirty)"
                class="text-danger">
                <i *ngIf="f['empCode'].errors['required']">Employee Code is required</i>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="empName" class="col-md-4">Name</label>
            <div class="col-md-8">
              <input type="text" formControlName="empName" name="employeeName" id="empName" class="form-control"
                readonly>
            </div>
          </div>
          <div class="form-group row">
            <label for="designation" class="col-md-4">Designation</label>
            <div class="col-md-8">
              <input type="text" formControlName="designation" name="designation" id="designation" class="form-control"
                readonly>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="card center">
        <div class="card-header">
          <div class="row">
            <div class="col">
              Per page: &nbsp;
              <select [(ngModel)]="perPage" (change)="update()"
                class="custom-select custom-select-md d-inline-block w-auto">
                <option *ngFor="let limit of [5, 10, 20, 30, 40, 50]">{{limit}}</option>
              </select>
            </div>
            <div class="col">
              <input type="text" [(ngModel)]="filterVal" (input)="currentPage = 1; update()"
                class="form-control form-control-md d-inline-block w-auto float-sm-right" placeholder="Search...">
            </div>
          </div>
        </div>
        <div class="card-body py-0">
          <div class="row">
            <table class="table table-hover table-striped table-bordered mb-2 table-responsive">
              <thead>
                <tr>
                  <th>EmpCode</th>
                  <th>Employee Name</th>
                  <th>Department</th>
                  <th>Designation</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Days</th>
                  <th>Tour Purpose</th>
                  <th>Recommend</th>
                  <th>Approve</th>
                  <th>Cancel</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="tourList.length==0">
                  <td colspan="12" class="font-italic text-center">No Item available</td>
                </tr>
                <tr *ngFor="let item of tourList; let i = index">
                  <td>{{item.empCode}}</td>
                  <td>{{item.empName}}</td>
                  <td>{{item.department}}</td>
                  <td>{{item.designation}}</td>
                  <td>{{item.lsDate | date:'dd MMM, yyyy'}}</td>
                  <td>{{item.leDate | date:'dd MMM, yyyy'}}</td>
                  <td>{{item.accepteDuration}}</td>
                  <td>{{item.reason}}</td>
                  <td><button (click)="updateStatus(i,2)" class="btn-action btn btn-primary">Recommend</button></td>
                  <td><button (click)="updateStatus(i,1)" class="btn-action btn btn-success">Approve</button></td>
                  <td><button (click)="cancel(i,3,cancelModal)" class="btn-action btn btn-danger">Cancel</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Pagination -->
          <div class="row">
            <div class="col-sm text-sm-left text-center pt-3">
              <span class="text-muted" *ngIf="totalItems">Page {{ currentPage }} of {{ totalPages }}</span>
            </div>
            <div class="col-sm pt-3">
              <ngb-pagination [collectionSize]="totalItems" [pageSize]="perPage" [(page)]="currentPage"
                (pageChange)="update()" size="sm" class="d-flex justify-content-center justify-content-sm-end m-0">
              </ngb-pagination>
            </div>
          </div>
        </div>
        <!-- / Pagination -->
      </div>
    </div>
  </div>
</div>
<ng-template #cancelModal>
  <div class="card">
    <h3 class="card-header">Are you sure want to Cancel?
      <span class="fa fa-window-close pull-right text-danger" (click)="close()"></span></h3>
    <div class="card-body">
    </div>
    <div class="card-footer">
      <div class="pull-right demo-inline-spacing">
        <button (click)="close()" class="btn btn-danger">Not now</button>
        <button (click)="confirm()" class="btn btn-success">Confirm</button>
      </div>
    </div>
  </div>
</ng-template>
