<div class="card">
    <h4 class="card-header text-center bg-light">{{title}}</h4>
    <div class="card-body">
        <form [formGroup]="otherDeductionForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="" class="col-md-3">Period
              <i class="text-danger">*</i>
            </label>
                        <div class="col-md-8">
                            <ng-select [ngClass]="{'is-invalid':(isSubmitted || f.periodID.touched || f.periodID.dirty)&& f.periodID.invalid}" formControlName="periodID" [items]="salaryPeriodModel" bindLabel="periodName" bindValue="id" name="periodID" id="periodID" placeholder="Select Period">
                            </ng-select>
                            <div *ngIf="f.periodID.invalid && (isSubmitted || f.periodID.touched || f.periodID.dirty)" class="text-danger">
                                <i *ngIf="f.periodID.errors.required"> Salary Period is required</i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="salaryHead" class="col-md-3">Salary Head
              <i class="text-danger">*</i>
            </label>
                        <div class="col-md-8">
                            <ng-select [ngClass]="{'is-invalid':(isSubmitted || f.salaryHeadID.touched || f.salaryHeadID.dirty)&& f.salaryHeadID.invalid}" formControlName="salaryHeadID" [items]="salaryHeadModel" bindLabel="accountName" bindValue="id" name="salaryHead" id="salaryHead"
                                placeholder="Select Salary Head">

                            </ng-select>
                            <div *ngIf="f.salaryHeadID.invalid && (isSubmitted || f.salaryHeadID.touched || f.salaryHeadID.dirty)" class="text-danger">
                                <i *ngIf="f.salaryHeadID.errors.required">Salary head is required</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="department" class="col-md-3">Department</label>
                        <div class="col-md-8">
                            <ng-select formControlName="department" [items]="departments" (change)="onDepartmentSelect(f.department.value)" bindLabel="description" bindValue="description" name="department" id="department" placeholder="Select Department">
                            </ng-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="days" class="col-md-3">Days</label>
                        <div class="col-md-8">
                            <input type="number" name="days" id="days" class="form-control" placeholder="Days">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row m-auto">
                <div class="demo-inline-spacing mt-3 center">
                    <button (click)="reset()" type="submit" class="btn btn-info center "><span class="ion ion-ios-refresh"> </span>Refresh</button>
                    <button (click)="getAll()" type="submit" class="btn btn-primary center">Show Data</button>
                </div>
            </div>

            <br>
            <div class="row">
                <div class="data-table">
                    <table class="table table-hover table-bordered table-striped mb-0">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Employee Name</th>
                                <th>Designation</th>
                                <th>Department</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="otherdeductionshow.length==0">
                                <td colspan="6" class="font-italic text-center">No employee found</td>
                            </tr>
                            <tr *ngFor="let item of otherdeductionshow">
                                <td class="pl-2">{{item.empCode}}</td>
                                <td>{{item.empName}}</td>
                                <td>{{item.designation}}</td>
                                <td>{{item.department}}</td>
                                <td>{{item.amount}}</td>
                                <td><button (click)="removeDriver(item.empCode)" class="btn  btn-sm  btn-danger">X</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="demo-inline-spacing center">
                <button (click)="SaveUpdate()" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>
