.form-group {
    margin-bottom: 0.2rem;
}

label {
    display: inline-block;
    //margin-bottom: 0.25rem;
    margin-top: 0.5rem;
    margin-right: 0rem;
}

.title {
    border-bottom: 1px solid #2980B9;
}

// table tr td{
//     border: 0.05px solid rgba(102, 149, 206, 0.548);
// }
td {
    padding: 1px;
    padding-left: 10px;
}
