USE [TranscomDB]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 02/20/2020 14:53:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Report](
	[PageName] [varchar](150) NULL,
	[PageID] [int] NULL,
	[ReportId] [int] IDENTITY(1,1) NOT NULL,
	[ReportFile] [varchar](150) NULL,
	[StoredProcedure] [varchar](150) NULL,
	[Parameters] [varchar](250) NULL,
	[CompanyID] [int] NULL,
	[BranchID] [int] NULL,
 CONSTRAINT [PK_Report_ReportId] PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Report] ON 

INSERT [dbo].[Report] ([PageName], [PageID], [ReportId], [ReportFile], [StoredProcedure], [Parameters], [CompanyID], [BranchID]) VALUES (N'Holiday Report', 26, 1, N'CryRptHolidayReport.rdlc', N'sp_getHolidayInfo', N'@Startdate,@Enddate', 1, 0)
INSERT [dbo].[Report] ([PageName], [PageID], [ReportId], [ReportFile], [StoredProcedure], [Parameters], [CompanyID], [BranchID]) VALUES (N'Basic HR Report', 30, 2, N'CryRptJoiningDatewiseReport.rpt', N'spRptJoiningDatewiseReport', N'@type,@Date,@Grade,@Brance,@depertment,@CompanyID,@ToDate,@Project', 1, 0)
INSERT [dbo].[Report] ([PageName], [PageID], [ReportId], [ReportFile], [StoredProcedure], [Parameters], [CompanyID], [BranchID]) VALUES (N'Basic HR Report', 30, 3, N'CryRptSeperationDatewise.rpt', N'spRptSeperationDatewiseReport', N'@type,@Date,@Grade,@Brance,@depertment,@CompanyID,@ToDate,@Project', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Report] OFF
