USE [TranscomDB]
GO
/****** Object:  Table [dbo].[ApplicationUserAssignedPages]    Script Date: 02/20/2020 14:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationUserAssignedPages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PageID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[CompanyID] [int] NOT NULL,
 CONSTRAINT [PK_ApplicationUserAssignedPages_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ApplicationUserAssignedPages] ON 

INSERT [dbo].[ApplicationUserAssignedPages] ([ID], [PageID], [UserID], [CompanyID]) VALUES (317, 110, 8905, 1)
INSERT [dbo].[ApplicationUserAssignedPages] ([ID], [PageID], [UserID], [CompanyID]) VALUES (318, 119, 8905, 1)
INSERT [dbo].[ApplicationUserAssignedPages] ([ID], [PageID], [UserID], [CompanyID]) VALUES (319, 124, 8905, 1)
GO
SET IDENTITY_INSERT [dbo].[ApplicationUserAssignedPages] OFF
