USE [TranscomDB]
GO
/****** Object:  Table [dbo].[ApplicationPages]    Script Date: 02/20/2020 14:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ApplicationPages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ModuleID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[PageRoutePath] [varchar](50) NULL,
 CONSTRAINT [PK_ApplicationPages_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ApplicationPages] ON 

INSERT [dbo].[ApplicationPages] ([ID], [ModuleID], [Name], [PageRoutePath]) VALUES (1, 1, N'Basic Entry', N'basic-entry')
INSERT [dbo].[ApplicationPages] ([ID], [ModuleID], [Name], [PageRoutePath]) VALUES (2, 1, N'Bank Branch', N'bank-branch')
INSERT [dbo].[ApplicationPages] ([ID], [ModuleID], [Name], [PageRoutePath]) VALUES (3, 1, N'Division', N'division')
GO
SET IDENTITY_INSERT [dbo].[ApplicationPages] OFF
