USE [TranscomDB]
GO
/****** Object:  Table [dbo].[ApplicationModules]    Script Date: 02/15/2020 10:21:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ApplicationModules](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[ModuleRoutePath] [varchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_ApplicationModules_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ApplicationPages]    Script Date: 02/15/2020 10:21:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ApplicationPages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ModuleID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[PageRoutePath] [varchar](50) NULL,
 CONSTRAINT [PK_ApplicationPages_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AssignedPageRole]    Script Date: 02/15/2020 10:21:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AssignedPageRole](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PageID] [int] NOT NULL,
	[UserTypeID] [int] NOT NULL,
	[CompanyID] [varchar](50) NULL,
 CONSTRAINT [PK_AssingedPageRole_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Report]    Script Date: 02/15/2020 10:21:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Report](
	[PageName] [varchar](150) NULL,
	[PageID] [int] NULL,
	[ReportId] [int] IDENTITY(1,1) NOT NULL,
	[ReportFile] [varchar](150) NULL,
	[StoredProcedure] [varchar](150) NULL,
	[Parameters] [varchar](250) NULL,
	[CompanyID] [int] NULL,
	[BranchID] [int] NULL,
 CONSTRAINT [PK_Report_ReportId] PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SubReport]    Script Date: 02/15/2020 10:21:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SubReport](
	[ReportId] [int] IDENTITY(1,1) NOT NULL,
	[PageName] [varchar](50) NULL,
	[PageID] [int] NULL,
	[MainReportId] [int] NULL,
	[ReportFile] [varchar](50) NULL,
	[StoredProcedure] [varchar](50) NULL,
	[Parameters] [varchar](200) NULL,
	[CompanyID] [int] NULL,
	[BranchID] [int] NULL,
 CONSTRAINT [PK_SubReport] PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ApplicationModules] ON 

INSERT [dbo].[ApplicationModules] ([ID], [Name], [ModuleRoutePath], [IsActive]) VALUES (1, N'System Setup', N'system-setup', 1)
INSERT [dbo].[ApplicationModules] ([ID], [Name], [ModuleRoutePath], [IsActive]) VALUES (2, N'HR Menu', N'hr-menu', 1)
INSERT [dbo].[ApplicationModules] ([ID], [Name], [ModuleRoutePath], [IsActive]) VALUES (3, N'Property', N'property', 1)
SET IDENTITY_INSERT [dbo].[ApplicationModules] OFF
SET IDENTITY_INSERT [dbo].[ApplicationPages] ON 

INSERT [dbo].[ApplicationPages] ([ID], [ModuleID], [Name], [PageRoutePath]) VALUES (1, 1, N'Basic Entry', N'basic-entry')
INSERT [dbo].[ApplicationPages] ([ID], [ModuleID], [Name], [PageRoutePath]) VALUES (2, 1, N'Bank Branch', N'bank-branch')
INSERT [dbo].[ApplicationPages] ([ID], [ModuleID], [Name], [PageRoutePath]) VALUES (3, 1, N'Division', N'division')
GO
SET IDENTITY_INSERT [dbo].[ApplicationPages] OFF
SET IDENTITY_INSERT [dbo].[AssignedPageRole] ON 

INSERT [dbo].[AssignedPageRole] ([ID], [PageID], [UserTypeID], [CompanyID]) VALUES (283, 42, 3, N'1')
INSERT [dbo].[AssignedPageRole] ([ID], [PageID], [UserTypeID], [CompanyID]) VALUES (284, 55, 3, N'1')
INSERT [dbo].[AssignedPageRole] ([ID], [PageID], [UserTypeID], [CompanyID]) VALUES (285, 46, 3, N'1')
GO
SET IDENTITY_INSERT [dbo].[AssignedPageRole] OFF
SET IDENTITY_INSERT [dbo].[Report] ON 

INSERT [dbo].[Report] ([PageName], [PageID], [ReportId], [ReportFile], [StoredProcedure], [Parameters], [CompanyID], [BranchID]) VALUES (N'Holiday Report', 26, 1, N'CryRptHolidayReport.rpt', N'sp_getHolidayInfo', N'@Startdate,@Enddate', 1, 0)
INSERT [dbo].[Report] ([PageName], [PageID], [ReportId], [ReportFile], [StoredProcedure], [Parameters], [CompanyID], [BranchID]) VALUES (N'Basic HR Report', 30, 2, N'CryRptJoiningDatewiseReport.rpt', N'spRptJoiningDatewiseReport', N'@type,@Date,@Grade,@Brance,@depertment,@CompanyID,@ToDate,@Project', 1, 0)
INSERT [dbo].[Report] ([PageName], [PageID], [ReportId], [ReportFile], [StoredProcedure], [Parameters], [CompanyID], [BranchID]) VALUES (N'Basic HR Report', 30, 3, N'CryRptSeperationDatewise.rpt', N'spRptSeperationDatewiseReport', N'@type,@Date,@Grade,@Brance,@depertment,@CompanyID,@ToDate,@Project', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Report] OFF
SET IDENTITY_INSERT [dbo].[SubReport] ON 

INSERT [dbo].[SubReport] ([ReportId], [PageName], [PageID], [MainReportId], [ReportFile], [StoredProcedure], [Parameters], [CompanyID], [BranchID]) VALUES (1, N'HR Report', 31, 32, N'CryRptSubEducationCV.rpt', N'sp_getEmpEducationInfoForReport', N'@EmpCode,@CompanyID', 1, 0)
INSERT [dbo].[SubReport] ([ReportId], [PageName], [PageID], [MainReportId], [ReportFile], [StoredProcedure], [Parameters], [CompanyID], [BranchID]) VALUES (2, N'HR Report', 31, 32, N'CrysRptSubExprerienceCV.rpt', N'sp_getExperienceInfoForReport', N'@EmpCode,@CompanyID', 1, 0)
INSERT [dbo].[SubReport] ([ReportId], [PageName], [PageID], [MainReportId], [ReportFile], [StoredProcedure], [Parameters], [CompanyID], [BranchID]) VALUES (3, N'HR Report', 31, 32, N'CryRptSubRefrence1CV.rpt', N'sp_getReferenceInfoForReport', N'@EmpCode,@CompanyID', 1, 0)
SET IDENTITY_INSERT [dbo].[SubReport] OFF
ALTER TABLE [dbo].[ApplicationModules] ADD  DEFAULT ((1)) FOR [IsActive]
GO
