<div class="card">
    <h4 class="card-header text-center bg-light">{{title}}</h4>
    <div class="card-body">
        <div class="row mt-3">
            <div class="col-md-6 center">
                <div class="form-group row">
                    <label for="empCode" class="col-md-3">Employee Code</label>
                    <div class="col-md-9">
                        <app-employee-select-list [setEmpCode]="empCode" (onChange)="getUsers($event.empCode)">
                        </app-employee-select-list>
                    </div>
                </div>
                <div class="row mt-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>User Name</th>
                                <th>Password</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="users.length===0">
                                <td class="text-center" colspan="3"><i>No User found</i></td>
                            </tr>
                            <tr *ngFor="let user of users; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{user.loginID}}</td>
                                <td>{{user.loginPassword}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
